body {
  background-color: #dcdad7;
  color: #061702;
  font-family: "Google Sans", sans-serif;
  margin: 20px;
  padding: 20px;
  font-size: 20px;
  border: solid black 5px;
}
header {
  background: rgb(193, 83, 4);
  color: #000000;
  margin: 0 0 5px 0;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #333;

}

.navbar li a {
  display: block;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  
}

.navbar li a:hover {
  background-color: #111;
  
}

/* title name "Create with Apeh" */
h1 {
  color: rgb(20, 82, 1);
  font-size: 60px;
  text-align: center;
  font-weight: 700;
}

/* section titles */
h2 {
  color: #6e9131;
  font-size: 30px;
  text-align: center;
  border-bottom: solid black 2px;
  font-weight: 600;
}

/* styling outline */
section {
  border: 2px solid rgb(255, 0, 0);
  margin: 20px;
}

/* Experience Styling with reference colors for design */
.card {
  padding: 0 20px 20px 20px;
  /* border: 20px solid rgb(218, 95, 23); */
  /* margin: 20px; */
}

.center {
  display: block;
  text-align: center;
}

.columns {
  border: solid blue 5px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

.column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 2px solid red;
  margin: 5px;
}

.item {
  border: solid yellow 2px;
}

.full {
  flex: 1 1 100%;
}

/* skills styling */
#Skills ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
}

/* connect styling */
a {
  color: rgb(193, 83, 4);
}

#Connect ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
  list-style: none;
}

#Connect li a:hover {
  background-color: #111;
}

/* leava a message form  */

#sendMessage form input {
  padding: 10px 10px;
  border: 1px solid var(--earth);
  margin: 10px 0px;
  transition: all 0.2s;
  border-radius: 5px;
  width: 99%;
  height: 100%;
}

#sendMessage form textarea {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--earth);
  padding: 0px 10px;
  padding-top: 10px;
  padding-bottom: 50px;
  font-family: "Google Sans", sans-serif;
  font-size: 16px;
  border-radius: 5px;
  width: 99%;
  height: 100%;
}

#sendMessage button {
  padding: 12px 30px;
  border:#000000
  border-radius: 55px;
  background: var(--earth);
  color: var(--cream);
  font-size: 16px;
  cursor: pointer;
}

/* messages styling  */
#messages {
  padding-top: 0px;
  padding-bottom: 0px;
}

#messages ul li {
  list-style: none;
  /* background: var(--cream); */
  margin: 20px 0px;
  padding: 10px 10px;
  border-radius: 15px;
  /* box-shadow: 0px 2px 8px var(--shadow); */
  border-left: 5px solid var(--earth);
}

footer {
  text-align: right;
}
